@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f8f9fa;
    --text-color: #212529;
  }
  
  [data-theme='dark'] {
    --background-color: #212529;
    --text-color: #f8f9fa;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .theme-toggle {
    display: flex;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .theme-toggle:hover {
    transform: rotate(360deg);
  }
  
  .theme-toggle svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease-in-out;
  }